<%- include('./encabezado')-%>

<h3 class="text-center">Nuevo producto</h3>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a href="/productos" class="btn btn-primary" role="button">Ir al listado</a>
</div>
<form method="post" action="/api/productos">
    <div class="mb-3">
        <label for="title" class="form-label">Título</label>
        <input type="text" class="form-control" id="title" name="title">
    </div>
    <div class="mb-3">
        <label for="price" class="form-label">Precio</label>
        <input type="text" class="form-control" id="price" name="price">
    </div>
    <div class="mb-3">
        <label for="thumbnail" class="form-label">Thumbnail</label>
        <input type="text" class="form-control" id="thumbnail" name="thumbnail">
    </div>
    <button type="reset" class="btn btn-secondary">Limpiar</button>
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>

<%- include('./pie')-%>